* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: linear-gradient(to bottom right, green,purple);
    height: 200vh;
}

.header {
    border: 3px solid red;
    display: flow-root;
}

.box {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    border-radius: 10px;
}

.box {
    background-image: url(https://placekitten.com/300/300);
    background-position: center;
    background-size: contain;
    float: left;
    margin: 10px;

} 

p {
    color:white;
    padding: 15px;
}

.main {
    margin-top: 100px;
    border: 3px solid yellow;
    display: flow-root;
}

.content {
    width: 200px;
    height: 200px;
    margin: 10px;

    background-color: #fff;
    border-radius: 20px;

    float: right;
    

    background-image: url(https://placekitten.com/200/200);
}





